{{!< ../default}}

<div class="page-form-upload">
  <section class="container">
    <h1 class="title">拖拽上传</h1>

    <div id="dropzone" class="fade well dropzone" ondrop="handleDrop(event)" ondragover="handleDragOver(event)">
      <span>Drop files here</span>
      <form action="/api/upload" method="post" enctype="multipart/form-data" class="form">
        <input type="file" name="photos" accept="image/*" required="true" multiple class="input" id="fileElem" />
      </form>
    </div>
    <div>
      <progress id="fileProgress" max="100" value="0" style="display: none">0%</progress>
    </div>
    <div class="file-list" id="fileList"></div>
  </section>
</div>

{{#contentFor 'pageScripts'}}
<script>
  const fileList = document.getElementById('fileList');
  const fileProgress = document.getElementById('fileProgress');
  const fileElem = document.getElementById('fileElem');
  //选择图片
  fileElem.addEventListener('change', function(){
    const files = this.files;
    uploadFiles(files, fileList, fileProgress);
  }, false);
  function handleDragOver(ev) {
    ev.preventDefault();
    ev.dataTransfer.dropEffect = 'move';
  }
  function handleDrop(ev) {
    ev.stopPropagation();
    ev.preventDefault();
    var data = ev.dataTransfer;
    var files = data.files;
    uploadFiles(files, fileList, fileProgress);
  }
</script>
{{/contentFor}}
