{{!< ../default}}

<div class="page-form-upload">
  <section class="container">
    <form action="/upload/form" method="post" enctype="multipart/form-data" class="form">
      <input type="file" name="file" multiple accept="image/*" class="input" />
      <input type="submit" class="btn" />
    </form>
  </section>
</div>
