{{!< ../default}}

<div class="page page-upload">
  <ul>
    <li><a href="/upload/form">Form上传</a></li>
    <li><a href="/upload/form">头像上传</a></li>
    <li><a href="/upload/photos">多张上传</a></li>
    <li><a href="/upload/ajax">Ajax上传</a></li>
    <li><a href="/upload/drag">拖拽上传</a></li>
    <li><a href="/upload/bigfile">大文件上传</a></li>
  </ul>
</div>
